/venv
/.venv/
__pycache__/
*.py[cod]
*.egg-info/

# Notebooks
.ipynb_checkpoints/

# OS cruft
.DS_Store
Thumbs.db

# Hugging Face datasets / artifacts
data/tokenized_*/
data/train_split
data/test_split
data/eval_split